/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
    background-color: #222;
    color: white;
    font-family: Helvetica, Arial;
}


a {
    color: #E5AC26;
}

a:hover, a:focus {
    color: #FCBE2A;
}

.button.secondary:hover, .button.secondary:focus {
    color: #CF9100;
}


h1, h2, h3, h4, h5, h6 {
    color: white; 
    /*color: #2A409C;*/
}

.orange{
    color: #E5AC26;
}

.white{
    color: white;
}

.label {
    background-color: #E5AC26;
    color: #333;
}


ul.breadcrumbs {
    background-color: #222;
    border: 0;
}


ul.breadcrumbs li.current a{
    color: white;
}

#blogbanner{
    font-variant: small-caps;
    letter-spacing: 2px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1.1;
    margin: 10px 0 10px;
    text-rendering: optimizelegibility;
}


#blogbanner span.orange {
    font-family: Times new roman;
    font-size: 140%;
}

#license p {
    font-size: 80%;
}
.panel {
    background-color:  #111;
}


footer ul.link-list li {
    height: 25px;
}

#active-lang {
    background-color: #D0D0D0;
    
}

#active-lang:hover {
    cursor: default;
}


#what-is-this {
    border: 0;
}


#lang-block {
    margin-top: 16px;
}

pre {
    padding: 10px;
    overflow: auto;
}
/* Small screens */
@media only screen and (max-width: 767px) { 
    #what-is-this {
	padding-bottom: 40px;
	margin-left: 60px;
    }

    #lang-block {
	margin-top: 0px;
	margin-bottom: 16px;
	
    }
    
    ul.breadcrumbs li {
	padding-right: 2px;
    }

    ul.breadcrumbs li a, ul.breadcrumbs li span {
	padding-left: 2px;
    }
    
    pre {
	padding: 5px;
    }

}


ul.pagination li.current a {
    background-color:  #E5AC26;
    color: #222;
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus {
    background-color: #FCBE2A;
    color: #222;
}


/* -----------------------------------------
  Post 
----------------------------------------- */
#post-body {
    margin-bottom: 10px;
}

#post-body h1 {
    font-size: 23px;
}

#post-body h2 { 
    font-size: 17px; 
}

#post-body h3 { 
    font-size: 14px; 
}
#post-body h4{
    font-size: 13;
}
#post-body h5 {
    font-size: 12;
}
#post-body h6{
    font-size: 11;
}


.fyre-comment > p {
   color: white;
}


blockquote, blockquote p {
    color: white;
}

