/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
    background-color: #222;
    color: white;
    font-family: Helvetica, Arial;
}


a {
    color: #E5AC26;
}

a:hover, a:focus {
    color: #FCBE2A;
}


h1, h2, h3, h4, h5, h6 {
    color: white; 
    /*color: #2A409C;*/
}

.orange{
    color: #E5AC26;
}

.white{
    color: white;
}

ul.breadcrumbs {
    background-color: #222;
    border: 0;
}


ul.breadcrumbs li.current a{
    color: white;
}

#blogbanner{
    font-variant: small-caps;
    letter-spacing: 2px;
    color: white;
}


#blogbanner span.orange {
    font-family: Times new roman;
    font-size: 140%;
}

#license p {
    font-size: 80%;
}
.panel {
    background-color:  #111;
}


footer ul.link-list li {
    height: 25px;
}

#active-lang {
    background-color: #D0D0D0;
    
}

#active-lang:hover {
    cursor: default;
}


#what-is-this {
    border: 0;
}


#lang-block {
    margin-top: 16px;
}

/* Small screens */
@media only screen and (max-width: 767px) { 
    #what-is-this {
	padding-bottom: 40px;
	margin-left: 60px;
    }

    #lang-block {
	margin-top: 0px;
	margin-bottom: 16px;
	
    }
    
    ul.breadcrumbs li {
	padding-right: 2px;
    }

    ul.breadcrumbs li a, ul.breadcrumbs li span {
	padding-left: 2px;
    }

}


ul.pagination li.current a {
    background-color:  #E5AC26;
    color: #222;
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus {
    background-color: #FCBE2A;
    color: #222;
}


/* -----------------------------------------
  Post 
----------------------------------------- */
#post-body {
    margin-bottom: 30px;
}
